.card{
    display: flexbox;
    margin: 20px 15%;
    padding: 20px 114px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 1%;
}
h1{
    padding: 20px;
    color:#00a9be ;
}
h3{
    padding: 24px 0;
    font-size: 30px;
}
img{
    align-self: center;
    width: 90%;
}
.bold{
    font-weight:  bold;
}
.blog-para{
    font-size: 24px;
}
.card i{
    cursor: pointer;
    color: #00a9be;
}
