* {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  padding: 0;
  
}

/* -----------------navbar --------------------*/
h2{
  font-size: 40px;
  margin: 30px 0;
}
p{
  color: #444;
  margin: 30px 0;
}
.bold{
  font-weight: bold;
}
header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-logo img {
  width: 100px;
  cursor: pointer;
}
li {
  display: inline-flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #00a9be;
}
/* -----------------header --------------------*/

.hero-area {
  background: linear-gradient( rgb(16 13 13 / 47%),rgba(12, 12, 12, 0.472)), url(images/header-img.png);
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}
.hero-img img {
  margin-right: 15%;
  float: right;
  width: 25%;
  min-width: 450px;
  background-size: cover;
  border-radius: 4vw 8vw 2vw 8vw;
}

.hero-section {
  text-align: center;
  width: 100%;
  height: 400px;
}
.hero-section h2{
  color: white;
}
.hero-section p{
  color: white;
}
.featured-blog{
  margin: 40px;
}
/* -----------------Buttons --------------------*/

.button {
  background-color: #00a9be;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1{
  background-color: white;
  color: #333;
  border: 2px solid #00a9be;
  border-radius: 20px;
}

.button1:hover {
  background-color: #00a9be;
  color: white;
}



/* -----------------navbar --------------------*/
.mainimg {
  background-image: url(images/blog-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.mid section {
   background-color: white;
   padding: 0 20%;
   margin-top: 20px;
}


footer{
  margin: 0;
  padding: 10px;
  background-color: #333;
  word-wrap: break-word;
}
footer p{
  color: white;
}
.footer{
  display: flex;
}
.column{
  padding-left: 10%;
  width: 33%;
  display: flex;
  flex-direction: column;
}
i{
  margin: 6px 0;
  overflow: visible;
  font-size: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
i span{
 font-size: 16px;
}
.bottom{
  text-align: center
  ;
}
.column ul{
   display: flex;
   flex-direction: column;
}
.column li, h2{
  font-weight: 400;
  color: white;
  margin: 6px 0;
}
.column h2{
  padding-bottom: 10px;
}

@media screen and (max-width: 540px) {
  .column{
  width: 100%;

  }
  .footer{
    text-align: center;
    flex-direction: column;
  }
}