*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #444;
}


/* -----------------navbar --------------------*/

header{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
.nav-logo img{
    width: 20%;
    cursor: pointer;
}
  li {
    display: inline-flex;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  .active {
    background-color: #04AA6D;
  }
/* -----------------header --------------------*/

.hero-area{
 
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}
.hero-img img{
    margin-right: 15%;
    float: right;
    max-width: 450px;
    background-size: cover;
    border-radius: 4vw 8vw 2vw 8vw;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
}

/* -----------------Buttons --------------------*/

.button {
    background-color: #00a9be;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #00a9be;
    border-radius: 20px;
  }
  
  .button1:hover {
    background-color: #00a9be;
    color: white;
  }


/* -----------------navbar --------------------*/
/* -----------------navbar --------------------*/